@keyframes pulsate {
  0% {
    opacity: 0;

  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.15, 1.15);
  }
}

.about {
  background-color: #0a2850;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.about__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  max-width: 251px;
  margin: 100px 0 0 80px;
  z-index: 1;
}

.about__content {
  list-style-type: none;
  padding: 0;
  max-width: 660px;
  margin: 119px 80px 173px;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin: 0;
}

.about__circle {
  position: absolute;
  top: -152px;
  left: -129px;
  background-color: #1878dc;
  border-radius: 50%;
  width: 426px;
  height: 426px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
